<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.piwikpro.demo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.piwikpro.demo.DemoApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.piwikpro.demo.DemoActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.piwikpro.demo.DataManagerActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_datamanager"
            android:launchMode="singleInstance" />
          <activity
            android:name="com.piwikpro.demo.DeviceIDActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_userid"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.piwikpro.demo.CheckAudienceActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_checkaudience"
            android:launchMode="singleInstance" />
        <activity
            android:name="com.piwikpro.demo.SettingsActivity"
            android:alwaysRetainTaskState="true"
            android:label="@string/title_activity_settings"
            android:launchMode="singleInstance"
            android:parentActivityName="com.piwikpro.demo.DemoActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.piwikpro.demo.DemoActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="47b91b6b6ea6e860050690af6577fe99168c120d" />
    </application>

</manifest>
